#remove html file extension https://hanskeeps.name/media.html
# to https://hanskeeps.name/media
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
  #remove html file extension https://hanskeeps.name/contact.html
# to https://hanskeeps.name/contact
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
  #remove html file extension https://hanskeeps.name/performances.html
# to https://hanskeeps.name/performances
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC, L]
